* {
  padding: 0%;
  margin: 0%;

  box-sizing: border-box;
  font-family: 'Playfair Display';
}


.bg{
  height: 100dvh;
  width: 100dvw;
  background: url(img_5470.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.card {
  width: 400px;
  height: 640px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}

.card:hover {
  transform: rotate(-5deg);
}

.card:hover .outside {
  transform: rotateY(-130deg);
}

.outside,
.inside {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50.1%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 70%);
  font-size: 20px;
  /* font-family: 'Italiana'; */
  /*line-height: 1.5;*/
  /*padding: 0 20px;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;

  left: 50%;
}

.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;

}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.front {
  background-color: #ffffff;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}

.cake {
  width: 100%;
  position: absolute;
  bottom: 30px;
}

.myimage {
  width: 100%;
  height: 100%;
  border: black 3pt solid;

}


@media screen and (max-width: 850px) {
  .card {
    width: 300px;
    height: 500px;
  }

  .inside {
    font-size: 18px;
  }
}

@media screen and (max-width: 520px) {
  .card {
    width: 200px;
    height: 320px;
  }

  .inside {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 150px;
    height: 220px;
  }

  .inside {
    font-size: 12px;
  }

}